.wrapper {
    min-height: 100vh;
    padding-bottom: 65px;
    margin: 0 auto -60px;
}

img {
    height: 30%;
    width: 30%;
    transform: rotate(90deg);
    border: solid;
    margin-bottom: 5%;
    margin-top: 4%;
}